/* style pour toutes les pages */
body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #388a59;
    color: black;
    background-image: url("/static/Images/background.jpg");
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* definition taille des logos */
.logo {
    height: 100px;
    width: 100px;
}
.user {
    height: 100px;
    width: 100px;
}
.search {
    height: 50px;
    width: 50px;
}
