/* style pour toutes les pages */
body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #388a59;
    background-image: url("/static/Images/background.jpg");
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* definition taille des logos */
.logo {
    height: 100px;
    width: 100px;
}
.user {
    height: 80px;
    width: 80px;
}
.search {
    height: 35px;
    width: 35px;
}

/* change apparence des boutons */
.button {
    text-decoration: none;
    padding: 10px;
    font-family: arial;
    font-size: 1em;
    color: #000000;
    background-color: #ffffff; 
    border-radius: 24px;
    box-shadow: 2px 3px 12px #444444;
    border: none;
}

.button:hover {
    padding: 10px;
    color: #FFFFFF;
    background-color: #9bbb59;
    box-shadow: 1px 1px 4px #777777;
}
