/* style pour toutes les pages */
body {
    padding: 15px;
    margin-bottom: 10px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #3f6d52;
    background-image: url("/static/Images/background.jpg");
    background-repeat: no-repeat;
}

nav {
    min-width: 500px;
    max-width: 1100px;
    width: 1050px;
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

/* definition taille des logos */
.logo {
    height: 100px;
    width: 100px;
}
.user {
    height: 80px;
    width: 80px;
}
.search {
    height: 25px;
    width: 25px;
}

#headerButton{
    position: relative;
    top: -50px;;
}
/* change apparence des boutons */
.button {
    text-decoration: none;
    padding: 10px;
    font-family: arial;
    font-size: 1em;
    color: #000000;
    background-color: #ffffff; 
    border-radius: 24px;
    box-shadow: 2px 3px 12px #444444;
    border: none;
  
}

.button:hover {
    padding: 10px;
    color: #FFFFFF;
    background-color: #9bbb59;
    box-shadow: 1px 1px 4px #777777;
}

.button:onclick {
    border: none;
}

.buttonLog {
    position: absolute;
    justify-content: space-between;
    height: 50px;
    width: 100px;
    margin-inline: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #42443f; 
    border-radius:15px;
    box-shadow: 2px 3px 12px #444444;
    border: none;
}
#buttonLogOut {
    top: 25px;
    right: 25px;
}
#buttonLogIn {
    top: 25px;
    right: 150px;
}

.buttonLog:hover{
    background-color: #ffffff;
    color: #000000;
}

.searchInput{
    text-decoration: none;
    padding: 15px;
    font-family: arial;
    font-size: 1em;
    color: #000000;
    background-color: #acacac; 
    border-radius: 24px;
    box-shadow: 2px 3px 12px #444444;
    border: none;
}
input#messageInput::placeholder{color: #000000;}

#messageInput{
    width: 65%;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
}

.chat-container{
    position: absolute;
    padding: 10px;
    background-color: #FFFFFF;
    width: 65%;
    height: 70%;
    border-radius: 15px;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

.containerChat{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

#backHome{
   position: relative;
   top: 20px;
}


/*Essaie de bulle de chat */
/*#messages{    
    text-align: end;

    text-decoration: none;
    padding: 10px;
    font-family: arial;
    font-size: 1em;
    background-color: #ffffff; 
    border-radius: 24px;
    box-shadow: 2px 3px 12px #444444;
    border: none;
}*/
#messages{
    color: red;
}
.messages{
    width: 80%;
}

.username{
    color: black;
}

/* Form vert de base */
/*
.login-form {
    margin: 65px auto;
    width: 400px;
    padding: 2em;
    border-radius: 2em;
    background: linear-gradient(rgb(56, 86, 57), rgb(33, 52, 34));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
}
*/

/* Form en transparence */
.login-form{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

input.login {
    width: 90%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
select.login {
    /*Copier la classe au dessus*/
}

.formAccount{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 800px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 80%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px 35px;
}
.formAccountJour{
    width: 200px;
    background-color: rgba(255,255,255,0.13);
    position: flex;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 15px 50px;
    margin: 10px;
}

/* Responsive grid Jours */
.JoursContainer{
    padding: 25px;
    display: grid;
    gap: 20px;
    /* responsive */
    grid-template-columns: repeat(auto-fill,
    minmax(250px, 1fr));
}

/* code de verification */
input.code{
    width: 150px;
    padding: 12px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;    
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    background-color: #1c1e1d;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 35em;
    width: 220px;
    margin-top: 15px;
}

button[type="submit"]:hover {
    background-color: #4a8544;
}
h1{
    margin-top:15px;
}

img.send{
    height: 50px;
    width: 50px;
    position: relative;
    top: 2px;
    left: 1px;
}

#sendButton{
    background-color: #acacac; 
    border-radius: 50px;
    box-shadow: 2px 3px 12px #444444;
    border: none;
    position: absolute;
    left: 88%;
    top: 90%;
    transform: translate(-50%, -50%);
}

#sendButton:hover {
    color: #FFFFFF;
    background-color: #c9c9c9;
    box-shadow: 1px 1px 4px #777777;
}

a{
    color:#363636
}

.Searchinput {
        background-image:url(/static/Images/search.png); background-position:right; background-repeat:no-repeat; background-size: 20px auto; padding-right: 38px; width: 175px; margin-left: 95px;
        text-decoration: none;
        padding: 15px;
        font-family: arial;
        font-size: 1em;
        color: #000000;
        background-color: #ffffff; 
        border-radius: 24px;
        box-shadow: 2px 3px 12px #444444;
        border: none;
        margin-left: 20px;
}
.search icon {
    margin-right: 1px;

}

#searchInput{
    margin-right: 10px;
}

.formContacts {
    /*color: #FFFFFF;
    margin: 5px;
    width: 400px;
    padding: 2em;
    border-radius: 2em;
    background: linear-gradient(rgb(56, 86, 57), rgb(33, 52, 34));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    */
    width: 300px;
    background-color: rgba(255,255,255,0.13);
    position: flex;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    margin: 5px;
}

/* Responsive grid contact */
.contactContainer{
    padding: 15px;
    display: grid;
    gap: 20px;
    /* responsive */
    grid-template-columns: repeat(auto-fill,
    minmax(400px, 1fr));
}

#googleMap{
    width:600px ; 
    height: 450px; 
    border: none; 
    position: relative;
    left: 50%;
    top: 250px;
    transform: translate(-50%, -50%);
}