/* style pour toutes les pages */
body {
    margin-bottom: 10px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #dad7cd;
    /*background-image: url("/static/Images/background.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    min-width: 500px;
    max-width: 1100px;
    width: 1050px;
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

/* definition taille des logos */
.logo {
    height: 100px;
    width: 100px;
}
.user {
    height: 80px;
    width: 80px;
}
.search {
    height: 25px;
    width: 25px;
}

#headerButton{
    position: relative;
    top: -50px;;
}
/* change apparence des boutons */
.button {
    text-decoration: none;
    padding: 10px;
    font-family: arial;
    font-size: 1em;
    color: #344e41; 
    background-color: #ffffff; 
    border-radius: 24px;
    box-shadow: 2px 3px 12px #444444;
    border: none;
  
}

.button:hover {
    padding: 10px;
    color: #FFFFFF;
    background-color: #588157; 
    ;
    box-shadow: 1px 1px 4px #777777;
}

.button:onclick {
    border: none;
}

.buttonLog {
    position: absolute;
    justify-content: space-between;
    height: 60px;
    width: 90px;
    margin-inline: 20px;
    text-decoration: none;
    color: #ffffff;
    background-color: #344e41; 
    border-radius:15px;
    box-shadow: 2px 3px 12px #444444;
    border: none;
    margin-top: 10px;
}
#buttonLogOut {
    top: 25px;
    right: 25px;
}
#buttonLogIn {
    top: 25px;
    right: 150px;
}

.buttonLog:hover{
    background-color: #ffffff;
    color: #344e41;
}

.searchInput{
    text-decoration: none;
    padding: 15px;
    font-family: arial;
    font-size: 1em;
    color: #000000;
    background-color: #a3b18a; 
    border-radius: 24px;
    box-shadow: 2px 3px 12px #444444;
    border: none;
}
input#messageInput::placeholder{color: #000000;}

#messageInput{
    width: 65%;
    position: absolute;
    left: 45%;
    top: 90%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    min-width: 100px;
}

.chat-container{
    position: absolute;
    padding: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    max-width: 800px;
    min-width: 300px;
    min-height: 400px;
    width: 30%;
    height: 500px;
    border-radius: 15px;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

.message-container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 300px;
}

.containerChat{
    display: flex;
    flex-direction: column;
    width: 80%;
}

#backHome{
   position: relative;
   top: 20px;
}


/*Essaie de bulle de chat */
/*#messages{    
    text-align: end;

    text-decoration: none;
    padding: 10px;
    font-family: arial;
    font-size: 1em;
    background-color: #ffffff; 
    border-radius: 24px;
    box-shadow: 2px 3px 12px #444444;
    border: none;
}*/
/* messages en grande quantité, nécessité d'une classe
#messages{
    color: red;
}*/
.messages{
    position: relative;
    display: inline-block;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 3px 8px #444444;
    background-color: #a3b18a;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 50%;
    word-wrap: break-word;
    width: fit-content;
    min-width: 20px;
}

.username{
    color: black;
}

.my-msg {
	/* design de "mes" messages */
    margin-left: auto;
    text-align: right;
    border-bottom-left-radius: 0.1rem 0.7rem;
    background-color: #588157
}

.your-msg {
	/* design des messages de l'autre utilisateur */
    margin-right: auto;
    text-align: left;
    border-bottom-right-radius: 0.1rem 0.7rem;
}
/*
.my-msg:hover{
    -webkit-transform: translateX(25px);
    transform: translateX(25px);
}
.your-msg:hover{
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
}
*/

/* Form vert de base */
/*
.login-form {
    margin: 65px auto;
    width: 400px;
    padding: 2em;
    border-radius: 2em;
    background: linear-gradient(rgb(56, 86, 57), rgb(33, 52, 34));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
}
*/

/* Form en transparence */
.login-form{
/*    margin-top: 50px; */
    margin-bottom: 50px;
    width: 500px;
    background-color: rgba(255,255,255,0.13);
    position: relative;
    top: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

input.login, select.login{
    width: 90%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

img.close{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 25px;
    right: 25px;
    cursor: pointer;
    z-index: 1500;
}
img.close:hover{
    color: red;
}

.formAccount{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 450px;
    background-color: rgba(255,255,255,0.25);
    position: relative;
    transform: translate(-50%,0);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px 35px;
}
#popup{
    display: none;
}
#openPopup{
    margin-top: 15px;
}

.formAccountJour{
    width: 200px;
    background-color: rgba(255,255,255,0.25);
    position: flex;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 15px 50px;
    margin: 10px;
}

/* Responsive grid Jours */
.JoursContainer{
    padding: 25px;
    display: grid;
    gap: 20px;
    /* responsive */
    grid-template-columns: repeat(auto-fill,
    minmax(250px, 1fr));
}

/* code de verification */
input.code{
    width: 150px;
    padding: 12px;
    border-bottom: 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px;    
}

button[type="submit"],.valider {
    position: relative;
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    background-color: #344e41;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 35em;
    width: 220px;
    margin-top: 15px;
    border: none;
}

button[type="submit"]:hover {
    color: #344e41;
    background-color: #ffffff;    
    box-shadow: 0 0 20px rgba(8,7,16,0.6);
}
h1{
    margin-top:15px;
    border: none;
}

img.send{
    height: 50px;
    width: 50px;
    position: relative;
    top: 2px;
    left: 1px;
}

#sendButton{
    background-color: #a3b18a; 
    border-radius: 50px;
    box-shadow: 2px 3px 12px #444444;
    border: none;
    position: absolute;
    left: 88%;
    top: 85%;
    transform: translate(-50%, 0);
}

#sendButton:hover {
    color: #FFFFFF;
    background-color: #c9c9c9;
    box-shadow: 1px 1px 4px #777777;
}

a{
    color:#363636
}

.Searchinput {
        background-image:url(/static/Images/search.png); background-position:right; background-repeat:no-repeat; background-size: 20px auto; padding-right: 38px; width: 175px; margin-left: 95px;
        text-decoration: none;
        padding: 15px;
        font-family: arial;
        font-size: 1em;
        color: #000000;
        background-color: #ffffff; 
        border-radius: 24px;
        box-shadow: 2px 3px 12px #444444;
        border: none;
        margin-left: 300px;
}
.search icon {
    margin-right: 1px;

}

#searchInput{
    margin-right: 10px;
}

.formContacts {
    /*color: #FFFFFF;
    margin: 5px;
    width: 400px;
    padding: 2em;
    border-radius: 2em;
    background: linear-gradient(rgb(56, 86, 57), rgb(33, 52, 34));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    */
    width: 300px;
    background-color: rgba(255,255,255,0.13);
    position: flex;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    margin: 5px;
}

/* Responsive grid contact */
.contactContainer{
    padding: 15px;
    display: grid;
    gap: 20px;
    /* responsive */
    grid-template-columns: repeat(auto-fill,
    minmax(400px, 1fr));
}
/* Contacts bare latérale */
.contactFavContainer{
    width: 300px;
    height: 90%;
    position: absolute;
    padding: 20px;
    right: 0px;
    top: 0px;
    margin-top: 125px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 20px rgba(8,7,16,0.6);
}

img.defaut-fav{
    position: absolute;
    right: 50px;
    width: 25px;
    height: 25px;
    display: block;
}
img.fav{
    position: absolute;
    right: 50px;
    width: 25px;
    height: 25px;
    display: none;
}

#googleMap{
    width:600px ; 
    height: 450px; 
    border: none; 
    position: relative;
    left: 40%;
    top: 300px;
    transform: translate(-50%, -50%);
}

header {
    background-color: #b62e2e;
    padding:0 20px;
    background-color: #a3b18a;
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image : url("/static/Images/fondEntete.JPG");
    align-items: center;
   
}
header img {
    margin: auto;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    height: 20%;
    align-items: center;
}

header nav a {
    width: 3%;
    text-align: center;
    order: 5;
    height: 15px;
    border-left: 2px solid rgb(15, 15, 15);
    border-spacing: 10%;
    margin-right: 70px;
    height: 110px;
    margin-top: 7px;
    
    
}
header nav button{
    height: 90px;
    bottom: 60px;
    border-spacing: 10px;
}
#msgbutton {
    margin-bottom: 10px;
    position:relative;
    left: 5px;
}

.Searchinput{
    left: 50px;
    flex: 1 1 auto;
    
    justify-content:center ;
    width: 100px;
}

header nav img{
    width: 7%;
    width: left 30px;
    right: 40px;

}

img.userFav{
    width: 80px;
    height: 80px;
    padding: 25px;
}
.userFav{
    display: inline-block;
}
header nav button{
    bottom:auto
}


/* GPS */
#mapContainer{display: none;}
.map-container{

    position: relative;
    top: 50%;
    width: 100%;
    height: 75%;
    box-shadow: 0 0 20px rgba(8,7,16,0.6);
    border-radius: 15px;
    border: none;
    padding: 5px;

}
#map {
    position: relative;
    height: 400px; 
    width: 100%;
}

.search-bar {
    position: relative;
    top: 10px;
    z-index: 1000;
    background: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 5px;
    max-width: 450px;
}
/*je pense c'est mieux sans ?
#search{
    width: 40%;
    padding: 5px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
*/

.info-message {
    font-size: 22px;
}