<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
	<link rel="icon" type="image/png" href="/static/Images/logo.ico">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
	<title>Messagerie</title>
	
	<header>
		<nav>
			<a href= "/"><img src="/static/Images/logo.png" class="logo" alt="Logo" /></a>
			<a href= "/"><button class="button" id="backHome">Retour à la page d'accueil</button></a>
		</nav>
	</header>

	<script>
		function submitForm() {
			document.getElementById("ChatForm").submit();
		}

		document.getElementById("searchInput").addEventListener("keyup", function(event) {
			if (event.key === "Enter") {
				submitForm();
			}
		});
	</script>
</head>

<body>
	
	<div class="info-message">{{ message }}</div>
	<div class="info-message">{{ connexion }}</div>
    <div class="containerChat">
    </div>
	<div id="messages">{{ message }}</div>
	<form onsubmit="return false">
		<input class="searchInput" id="messageInput" type="text" placeholder="Entrer un message ..."></input>
		<button onclick="sendMessage()">Send</button>
	</form>
	<script type="text/javascript">
        var socket = io();

        // Send message
        function sendMessage() {
            var message = document.getElementById('messageInput').value;
            socket.emit('message', message);
            document.getElementById('messageInput').value = ''; // Clear input field
        }

        // Receive message
        socket.on('message', function(message) {
            var messageElement = document.createElement('div');
            messageElement.textContent = message;
            document.getElementById('messages').appendChild(messageElement);
            // Scroll to bottom
            document.getElementById('messages').scrollTop = document.getElementById('messages').scrollHeight;
        });
    </script>

<div class="container" id="UserChat">
	<h2>Contacts</h2>
	<div id="usersInfo">
		<p class="username">{{ name }}</p>
	</div>
</div>
</body>

</html>
