<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
	<link rel="icon" type="image/png" href="/static/Images/logo.ico">
	<title>Messagerie</title>
</head>

<body>
	<div class="info-message">{{ message }}</div>
	<div class="info-message">{{ connexion }}</div>
    <div class="containerChat">
        <div class="messagesPrec">{{message}}</div>
        <input class="searchInput" id="searchMessage" type="text" placeholder="Entrer un message ...">
    </div>
</body>

</html>
