<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<div class="title-container">
		<title>Classique titre</title>
	</div>
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <a href= "/"><img src="/static/Images/logo.png" class="logo" alt="Logo" /></a>
    <h1 class="main-title">Vos Contacts</h1>
    {% for contact in contacts %}
        <form action="/chat" method="get" class="formContacts">
                <p>Nom: {{ contact[0] }} / Prénom: {{ contact[1] }} / Username: {{ contact[2] }}</p>
                <input name="contact" type="hidden" value="{{ contact[2] }}">

                <center><button type="submit">Contacter</button></center>
        </form>
    {% endfor %}


</body>

</html>

