<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<title>Contacts</title>
	<link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/Images/logo.ico" />
</head>

<body>
    <a href= "/"><img src="/static/Images/logo.png" class="logo" alt="Logo" /></a>
    <button class="buttonLog" id="buttonLogIn" onclick="location.href='/login'">Login</button>
    <button class="buttonLog" id="buttonLogOut" onclick="location.href='/logout'">Logout</button>
    
    <h1 class="main-title">Vos Contacts</h1>
    <div class="contactContainer">
    {% for contact in contacts %}
        <form action="/chat" method="get" class="formContacts">
                <img src="/static/Images/star.png" id="imgNonefav" class="defaut-fav" onclick="changeClass()">
                <img src="/static/Images/starFull.png" id="imgfav" class="fav" onclick="changeClassfav()">
                <p>Nom: <b> {{ contact[0] }} </b><br>
                    Prénom: <b> {{ contact[1] }} </b><br>
                    E-mail: <b> {{ contact[2] }} </b></p>
                <input name="contact" type="hidden" value="{{ contact[2] }}">

                <center><button type="submit">Contacter</button></center>
        </form>
    {% endfor %}
    </div>

<!-- Pour changer l'etat de l'étoile quand on clique dessus -->
    <script>
        function changeClassfav() { 
            document.getElementById('imgfav').className = "fav"; 
        }
        function changeClass() { 
            document.getElementById('imgfav').className = "defaut-fav"; 
        }
    </script>
</body>

</html>

