<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/styleHP.css" />
    <link rel="icon" type="image/png" href="/static/Images/logo.ico">
    <title>Home Page</title>

    <header>
      <nav>
        <img src="/static/Images/logo.png" class="logo" alt="Logo" />
        <button>Home_Page</button>
        <button>Messages</button>
        <div>{{ message }}</div>
        <div>
          <input type="text" placeholder="rechercher un itinérarire" />
          <img src="/static/Images/search.jpg" class="search" />
        </div>
        <img src="/static/Images/user.jpg" class="User" alt="User" />
      </nav>
    </header>
  </head>
  <body></body>
</html>
