<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
	<link rel="icon" type="image/png" href="/static/Images/logo.ico">
	<title>Home Page</title>

	<header>
		<nav>
			<img src="/static/Images/logo.png" class="logo" alt="Logo" />
			<a> href= "/templates/index.html"<button class="button">Home Page</button></a>
			<a> href= "/templates/test Chat.html"<button class="button">Messages</button></a>
			<div class="info-message">{{ message }}</div>
			<div class="info-message">{{ connexion }}</div>
			<div>
				<input type="text" class="button" placeholder="rechercher un itinérarire" />
				<img src="/static/Images/search.png" class="search" />
			</div>
			<img src="/static/Images/user.png" class="user" alt="User" />
		</nav>
	</header>
</head>

<body></body>

</html>
