<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
	<link rel="icon" type="image/png" href="/static/Images/logo.ico">
	<title>Home Page</title>
	<script>
		function submitForm() {
			document.getElementById("searchForm").submit();
		}

		document.getElementById("searchInput").addEventListener("keyup", function(event) {
			if (event.key === "Enter") {
				submitForm();
			}
		});
	</script>

	<header>
		<a href= "/"><img src="/static/Images/logo.png" class="logo" alt="Logo" /></a>
		<nav>
			<a href= "/contacts"><button class="button" id = "msgbutton" >Messages</button></a>
			<form id="searchForm" action="" method="GET">
				<input class="Searchinput" style="background-image:url(/static/Images/search.png); background-position:right; background-repeat:no-repeat; background-size: 20px auto; margin-right: 38px; width: 175px;" id="searchInput" name="search" class="searchInput" placeholder="entrer un itinéraire ...">
				<!-- <img class="search icon" src="/static/Images/search.png" alt="search" onclick="submitForm()"> -->
			</form>
			<button class="buttonLog" id="buttonLogIn" onclick="location.href='/login'">Login</button><br />
			<button class="buttonLog" id="buttonLogOut" onclick="location.href='/logout'">Logout</button><br />
			<img src="/static/Images/user.png" class="user" alt="User" />
		</nav>
	</header>
</head>

<body>
	<center>
		<div class="info-message">{{ message }}</div>
		<div class="info-message">{{ connexion }}</div>
	</center>
<!-- Google Map -->
	<iframe id="googleMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5051.907596905485!2d3.1402815935791084!3d50.72079630000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3292cc494af8b%3A0x3b201b533e4e4d6!2sLYC%C3%89E%20PRIV%C3%89%20CATHOLIQUE%20LICP%20(EIC)!5e0!3m2!1sfr!2sfr!4v1715953987669!5m2!1sfr!2sfr" allowfullscreen="True" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</body>

</html>
