<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<div class="title-container">
		<title>Page d'inscription</title>
	</div>
	<link rel="stylesheet" href="/static/style.css">
</head>


<body>
	<h1 class="main-title">S'INSCRIRE</h1>


</body>
		<form action="" method="post">
			<div class="container">
				<label>Nom : </label>
				<input type="text" placeholder="Nom" name="nom" required>
				<label> Prénom : </label>
				<input type="password" placeholder="Prénom" name="prenom" required><br />
				<label>Numéro de téléphone : </label>
				<input type="text" placeholder="Numéro de téléphone" name="Numero" required><br />
				<label>E-mail : </label>
				<input type="text" placeholder="E-mail" name="email" required><br />
				<label>Mot de passe : </label>
				<input type="text" placeholder="Mot de passe" name="password" required><br />
				<button type="submit">VALIDER</button><br />
			</div>
		</form>
	

</html>
