<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<title>Page d'inscription</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="icon" type="image/png" href="/static/Images/logo.ico" />
	<a href= "/"><img src="/static/Images/logo.png" class="logo" alt="Logo" /></a>
</head>

<center>
		<body>
			<form action="" method="post" class="login-form">
				<h1 class="main-title">S'INSCRIRE</h1>
				<div class="login">
					<input type="text"class="login" placeholder="Nom" name="nom" required>
					<input type="text"class="login" placeholder="Prénom" name="prenom" required><br />
					<input type="text"class="login" placeholder="Numéro de téléphone" name="numero" required><br />
					<input type="hidden"class="login" name="zone" value="">
					<input type="text"class="login" placeholder="E-mail" name="email" required><br />
					<input type="password"class="login" placeholder="Mot de passe" name="password" required><br />
					<p>Ajouter une photo de profil : <input type="file" accept="image/*"></p>
					<button type="submit">VALIDER</button><br />
					<br/>
					<a href="/login">Je possède déjà un compte, je souhaite <b>me connecter</b></a><br/>
				</div>
			</form>
		</body>
</center>
		
	

</html>
