<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<title>Page d'inscription</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
	<link rel="icon" type="image/png" href="/static/Images/logo.ico" />
	<a href= "/"><img src="/static/Images/logo.png" class="logo" alt="Logo" /></a>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>


<body>
	<form action="" method="post" class="login-form">
		<center>
			<h1 class="main-title">S'INSCRIRE</h1>
			<div class="login">
				<input type="text" class="login" placeholder="Nom" name="nom" required>
				<input type="text" class="login" placeholder="Prénom" name="prenom" required><br />
			    <input type="text" class="login" placeholder="Numéro de téléphone" name="numero" required><br />
		<!--	<input type="text" class="login" id="Ville" placeholder="Veuillez renseigner votre ville de domicile ... " onkeyup="convertirEnMinuscules(this);"> -->
				<input type="text" class="login" placeholder="E-mail" name="email" required><br />
				<input type="password" class="login" placeholder="Mot de passe" name="password" required><br />
				<button type="button" class="button" id="showMap">Renseigner mon domicile</button>
				<button type="button" class="button" id="openPopup">Renseigner mes horraires</button>
				<p>Ajouter une photo de profil : <input type="file" accept="image/*"></p>
			</div>

<!-- Js pour rentrer automatiquement en minuscule dans l'input ville -->
<!-- Pas besoin en fait prsq remplacé par gps
	<script>
		function convertirEnMinuscules(input) {
			input.value = input.value.toLowerCase();
		}
	</script>
-->	

		<div class="formAccount" id="popup">
			<img src="/static/Images/close.png" class="close" id="closePopup">
			<div class="JoursContainer">
				<div class="formAccountJour" required>
					<p>Lundi : </p> <p>Cocher si pas cours <input type="checkbox"> </p>   
					<p>Heure de début <input type="time" name="startLundi" step="900"> </p>
					<p>Heure de fin <input type="time" name="endLundi" step="900"> </p>
				</div>
				<div class="formAccountJour" required>
					<p>Mardi : </p> <p>Cocher si pas cours <input type="checkbox"> </p>   
					<p>Heure de début <input type="time" name="startMardi" step="900"> </p>
					<p>Heure de fin <input type="time" name="endMardi" step="900"> </p>
				</div>
				<div class="formAccountJour" required>
					<p>Mercredi : </p> <p>Cocher si pas cours <input type="checkbox"> </p>   
					<p>Heure de début <input type="time" name="startMercredi" step="900"> </p>
					<p>Heure de fin <input type="time" name="endMercredi" step="900"> </p>
				</div>
				<div class="formAccountJour" required>
					<p>Jeudi : </p> <p>Cocher si pas cours <input type="checkbox"> </p>   
					<p>Heure de début <input type="time" name="startJeudi" step="900"> </p>
					<p>Heure de fin <input type="time" name="endJeudi" step="900"> </p>
				</div>
				<div class="formAccountJour" required>
					<p>Vendredi : </p> <p>Cocher si pas cours <input type="checkbox"> </p>   
					<p>Heure de début <input type="time" name="startVendredi" step="900"> </p>
					<p>Heure de fin <input type="time" name="endVendredi" step="900"> </p>
				</div>
				<button type="button" class="valider" onclick="masquer()">VALIDER</button>
			</div>

		</div>

		<!-- sélecteur d'addresse -->
		 <div class="map-container">
			<div class="search-bar">
				<div>
					<input type="text" id="search" placeholder="Search for a place..." />
					<button id="location-search" type="button" onclick="searchLocation()">Search</button>
				</div>
				<script>
					// allow searching with 'enter'
					$(document).ready(function(){
						$('#search').keypress(function(e){
							if(e.keyCode==13) {
								event.preventDefault();
								$('#location-search').click();
							}
						});
					});
				</script>
			</div>
			<div id="map"></div>
			<input id="lat" type="hidden" name="lat">
			<input id="long" type="hidden" name="long">
			<script src="/static/openstreetmap.js"></script>
		</div>
		<button type="submit">VALIDER</button><br />
		<br/>
		<a href="/login">Je possède déjà un compte, je souhaite <b>me connecter</b></a><br/>
	</center>
	</form><br>

	<script>
		let bopen = document.querySelector('#openPopup');
		let bclose = document.querySelector('#closePopup');


		//function
		function afficher() {
			document.querySelector('#popup').style.display = "block";
		}

		function masquer() {
			document.querySelector('#popup').style.display = "none";
		}

		bopen.addEventListener("click",afficher);
		bclose.addEventListener("click",masquer);
	</script>
</body>

		
	

</html>
