<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<title>Page d'inscription</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="icon" type="image/png" href="/static/Images/logo.ico" />
	<a href= "/"><img src="/static/Images/logo.png" class="logo" alt="Logo" /></a>
</head>


<body>
	<center>
		<form action="" method="post" class="login-form">
			<h1 class="main-title">S'INSCRIRE</h1>
			<div class="login">
				<input type="text" class="login" placeholder="Nom" name="nom" required>
				<input type="text" class="login" placeholder="Prénom" name="prenom" required><br />
				<input type="text" class="login" placeholder="Numéro de téléphone" name="numero" required><br />
				<select class="login" name="zone" required>
					<option value="">-- Zone géographique --</option>
					<option hidden value=0>Default</option>
					<option value=1>Tourcoing</option>
					<option value=2>Roubaix</option>
					<option value=3>Wattrelos</option>
					<option value=4>Mouvaux</option>
					<option value=5>Marcq-en-Barœul</option>
					<option value=6>Croix</option>
					<option value=7>Ronq</option>
					<option value=8>Bondues</option>
					<option value=9>Halluin</option>
					<option value=10>Wervik</option>
					<option value=11>Comines</option>
					<option value=12>Autres</option>
				<input type="text" class="login" placeholder="E-mail" name="email" required><br />
				<input type="password" class="login" placeholder="Mot de passe" name="password" required><br />
				<button class="button" id="openPopup">Renseigner mes horraires</button>
				<p>Ajouter une photo de profil : <input type="file" accept="image/*"></p>
				<button type="submit">VALIDER</button><br />
				<br/>
				<a href="/login">Je possède déjà un compte, je souhaite <b>me connecter</b></a><br/>
			</div>
		</form>
	</center>
	<form action="" method="post" class="formAccount" id="popup">
		<img src="/static/Images/close.png" class="close" id="closePopup">
        <div class="JoursContainer">
            <div class="formAccountJour" required>
                <p>Lundi : </p> <p>Cocher si pas cours <input type="checkbox"> </p>   
                <p>Heure de début <input type="time" name="Heure de début"> </p>
                <p>Heure de fin <input type="time" name="Heure de fin"> </p>
            </div>
            <div class="formAccountJour" required>
                <p>Mardi : </p> <p>Cocher si pas cours <input type="checkbox"> </p>   
                <p>Heure de début <input type="time" name="Heure de début"> </p>
                <p>Heure de fin <input type="time" name="Heure de fin"> </p>
            </div>
            <div class="formAccountJour" required>
                <p>Mercredi : </p> <p>Cocher si pas cours <input type="checkbox"> </p>   
                <p>Heure de début <input type="time" name="Heure de début"> </p>
                <p>Heure de fin <input type="time" name="Heure de fin"> </p>
            </div>
            <div class="formAccountJour" required>
                <p>Jeudi : </p> <p>Cocher si pas cours <input type="checkbox"> </p>   
                <p>Heure de début <input type="time" name="Heure de début"> </p>
                <p>Heure de fin <input type="time" name="Heure de fin"> </p>
            </div>
            <div class="formAccountJour" required>
                <p>Vendredi : </p> <p>Cocher si pas cours <input type="checkbox"> </p>   
                <p>Heure de début <input type="time" name="Heure de début"> </p>
                <p>Heure de fin <input type="time" name="Heure de fin"> </p>
            </div>
            <button type="submit">VALIDER</button>
        </div>
    </form><br>

	<script>
		let bopen = document.querySelector('#openPopupInscription');
		let bclose = document.querySelector('#closePopup');


		//function
		function afficher() {
			document.querySelector('#popup').style.display = "flex";
		}

		function afficher() {
			document.querySelector('#popup').style.display = "none";
		}

		bopen.addEventListener("click",afficher);
		bclose.addEventListener("click",masquer);
	</script>
</body>

		
	

</html>
