<!DOCTYPE html>
<html>
<head>
    <title>Map with Search and Single Waypoint</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    <div class="map-container">
        <div class="search-bar">
            <form onsubmit="return false;">
                <input type="text" id="search" placeholder="Search for a place..." />
                <button type="submit" onclick="searchLocation()">Search</button>
            </form>
        </div>
        <div id="map"></div>
        <form method="post">
            <input id="lat" type="hidden" name="lat">
            <input id="long" type="hidden" name="long">
            <button type="submit">Valider</button>
        </form>
        
        <script src="/static/openstreetmap.js"></script>
    </div>
</body>
</html>
