<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
	<link rel="icon" type="image/png" href="/static/Images/logo.ico">
	<title>Verif</title>
</head>

<body>
	<div class="info-message">{{ message }}</div>
	<form method='post' action="">
		<input type="hidden" name="username" value="{{ username }}">
		<input type="text" name="code" placeholder="Code de vérification...">
	</form>
</body>